.button__white{
    width: 385px;
    height: 64px;
    border: none;   
    outline: none;
    background: #FFFFFF;
    opacity: 0.99;
    border: 1px solid #A0A0A0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #454444;
    transition: all 0.1s ease;
    cursor: pointer;
}

.button__white:active{
    transform: scale(0.94);
}