.party-trip {
    width: 661px;
    box-sizing: border-box;
}

.party-trip__header {
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    padding-top: 16px;
    padding-left: 40px;
    padding-bottom: 16px;
}

.party-trip__header > img {
    position: absolute;
    right: 24px;
    top: 20px;
}

.party-trip__avatart {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: black;
}

.party-trip__members {
    border-bottom: 1px solid #c8c8c8;
}

.trip-member__join {
    padding-left: 36px;
    padding-right: 36px;
}

.trip-member__join-text {
    margin-top: 12px;
    margin-bottom: 18px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #151515;
}

.trip-member__join-code {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.trip-member__code {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;

    color: #000000;
    width: 118px;
    height: 37px;
    border: 1px solid #b8b4b4;
    box-sizing: border-box;
    border-radius: 2px;

    text-align: center;
    padding-top: 3px;
}
