.item-trip-modal__size {
    position: relative;
    width: 790px;
    min-height: 306px;
    box-sizing: border-box;
    padding: 36px;
    padding-top: 24px;
}

.item-trip-modal__data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 26px;
}
.item-trip-modal__day-year {
    margin-left: 12px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #151515;
}
.absolute-cross {
    position: absolute;
    right: 24px;
    top: 20px;
    width: 16.01px;
    height: 16.01px;
    cursor: pointer;
}

.item-trip-modal__inputs {
    display: flex;
}

.item-trip-modal__discr {
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.item-trip-modal__discr > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #151515;
    margin-bottom: 8px;
}

.text-area {
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 712px;
    height: 132px;
    resize: none;
    font-family: Roboto;
    font-style: normal;
    color: black;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.input__event {
    width: 80%;
    margin-left: 28px;
    height: 25px;
    border: none;
    border-bottom: 2px solid #dfdfdf;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #151515;
}

.input__event:focus {
    outline: none;
}

.item-trip-modal__quiz {
    display: flex;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 16px;
}

.item-trip-modal__quiz > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #151515;
}

.item-trip-modal__quiz > img {
    margin-right: 16px;
}

.item-trip-modal__btn {
    width: 349px;
}

.item-trip-modal__submit {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-trip-modal__delete {
    display: flex;
    align-items: center;
}

.item-trip-modal__delete > img {
    margin-right: 8px;
}

.item-trip-modal__delete > p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #2234db;
}
