.search-block{
    position: relative;
}

.imgsearch{
    position: absolute;
    left:14px;
    top:9px;
}

.input-search{
    background: #FFFFFF;
    border: 1px solid rgba(116, 116, 119, 0.83);
    box-sizing: border-box;
    border-radius: 19px;
    width: 100%;
    padding-left: 44px;
    height: 38px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.36);
}

.input-search:focus{
    outline: none;
}

.input-searched{
    background: #FFFFFF;
    border: 1px solid rgba(116, 116, 119, 0.83);
    border-bottom: none;
    box-sizing: border-box;
    border-radius: 19px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
    padding-left: 44px;
    height: 38px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.36);
}

.input-searched:focus{
    outline: none;
}