@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.create__profile-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 546px;
    height: 198px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 4px solid #2234DB;
    cursor: pointer;
}
.create__profile-trip{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create__profile-trip > p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #2234DB;
    margin-bottom: 16px;
}